include ../mixins/image
.product__container.catalog-product
	.product__scroll
		.container
			.mob-slider-action
				.slider-action-box
					span.prev-mob
					.slides-length
						span.slides-col 1
						span /
						span.slides-all.slidesLength
					span.next-mob
			.product__left.col-md-11.col-sm-10.col-xs-18
				.visible-xs.mob-title
					a(href="#").back-modal
					span Пальто демисезонное


				.product__slider-big
					.product__slider-container
						.slider.slider-forCatalog.slider__arrow
							div
								.pr-big-box.zoom
									img(src="images/product/big1.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big2.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big3.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big4.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big5.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big6.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big7.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big8.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый

					.product__slider-nav.hidden-xs
						.slider.slider-nav.slider__arrow.thumb-slider
							div
								.pr-nav-box
									+img('thumb1.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb2.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb3.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb4.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb5.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb6.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb7.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb8.jpg', 'images/product/')
					// /.product__slider-nav					

				// /.product__slider-big
			// /.product__left

			.product__right.col-md-7.col-sm-8.col-xs-18
				h1.pr-title.hidden-xs Пальто демисезонное
				.pr-code Артикул:  3-4448/4-223
				.pr__block
					ul.pr-properties.properties-list
						li.prShow
							span.pr-item Размерный ряд:
							| 44–52
						li.prShow
							span.pr-item Материал:
							|
							a(href="#modalColor" class="modal-texture") Велюр 128
						li.prShow
							span.pr-item Состав:
							| 100% шерсть
						li(style="display:block;")
							span.pr-item Длина по спинке:
							| Утеплитель
						li(style="display:block;")
							span.pr-item Мех:
							| Норка
						li(style="display:block;")
							span.pr-item Утеплитель:
							| Утеплитель
						li(style="display:block;")
							span.pr-item Рост:
							| 160 см
						li(style="display:block;")
							span.pr-item Длина рукава:
							| 60см
						li(style="display:block;")
							span.pr-item Силуэт:
							| Силуэт
						li(style="display:block;")
							span.pr-item Стиль:
							| Стиль
					.clear
					span.show-prop.active Свернуть
					.clear
				
				.select__container
					.select-label
						span Представленные цвета модели
					ul.select__drop
						li.item-vphoto(data-slide="1")
							.item-color-box
								img(src="images/color/color1.png", alt="#").img-responsive
							.item-color-title Синий
						li.item-vphoto(data-slide="2")
							.item-color-box
								img(src="images/color/color2.png", alt="#").img-responsive
							.item-color-title Серый
						li.item-vphoto(data-slide="3")
							.item-color-box
								img(src="images/color/color3.png", alt="#").img-responsive
							.item-color-title Черный
						li.item-vphoto(data-slide="4")
							.item-color-box
								img(src="images/color/color4.png", alt="#").img-responsive
							.item-color-title Мраморный
						li.item-vphoto(data-slide="5")
							.item-color-box
								img(src="images/color/color5.png", alt="#").img-responsive
							.item-color-title Красный
						li.item-vphoto(data-slide="6")
							.item-color-box
								img(src="images/color/color6.png", alt="#").img-responsive
							.item-color-title Коричневый
				// /.select__container

				form(action="#", method="post")
					.joint__box
						p В настоящий момент на сайте ElectraStyle.ru можно оформлять только оптовые заказы.Как розничный покупатель Вы можете совершать покупки в магазинах наших партнеров

					ul.stories__list
						li
							.stor-logo
								a(href="#")
									img(src="images/stilvo.svg", width="150" height="52" alt="#").img-responsive

					.calc__action
						a(href="#").btn Перейти на сайт Stilvo
						a(href="#").btn.btn-white
							span Перейти в карточку товара
			// /.product__right
	.prClose

// /.product__container
.product__container.catalog-product
	.product__scroll
		.container
			.mob-slider-action
				.slider-action-box
					span.prev-mob
					.slides-length
						span.slides-col 1
						span /
						span.slides-all.slidesLength
					span.next-mob
			.product__left.col-md-11.col-sm-10.col-xs-18
				.visible-xs.mob-title
					a(href="#").back-modal
					span Пальто демисезонное


				.product__slider-big
					.product__slider-container
						.slider.slider-forCatalog.slider__arrow
							div
								.pr-big-box.zoom
									img(src="images/product/big1.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big2.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big3.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big4.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big5.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big6.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big7.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый
							div
								.pr-big-box.zoom
									img(src="images/product/big8.jpg", alt="#").img-responsive
									a(href="#").pr-favorite
									.pr-color Серый

					.product__slider-nav.hidden-xs
						.slider.slider-nav.slider__arrow.thumb-slider
							div
								.pr-nav-box
									+img('thumb1.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb2.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb3.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb4.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb5.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb6.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb7.jpg', 'images/product/')
							div
								.pr-nav-box
									+img('thumb8.jpg', 'images/product/')
					// /.product__slider-nav					

				// /.product__slider-big
			// /.product__left

			.product__right.col-md-7.col-sm-8.col-xs-18
				h1.pr-title.hidden-xs Пальто демисезонное
				.pr-code Артикул:  3-4448/4-223
				.pr__block
					ul.pr-properties.properties-list
						li.prShow
							span.pr-item Размерный ряд:
							| 44–52
						li.prShow
							span.pr-item Материал:
							|
							a(href="#") Велюр 128
						li.prShow
							span.pr-item Состав:
							| 100% шерсть
						li(style="display:block;")
							span.pr-item Длина по спинке:
							| Утеплитель
						li(style="display:block;")
							span.pr-item Мех:
							| Норка
						li(style="display:block;")
							span.pr-item Утеплитель:
							| Утеплитель
						li(style="display:block;")
							span.pr-item Рост:
							| 160 см
						li(style="display:block;")
							span.pr-item Длина рукава:
							| 60см
						li(style="display:block;")
							span.pr-item Силуэт:
							| Силуэт
						li(style="display:block;")
							span.pr-item Стиль:
							| Стиль
					.clear
					span.show-prop.active Свернуть
					.clear

				.select__container
					.select-label
						span Представленные цвета модели
					ul.select__drop
						li.item-vphoto(data-slide="1")
							.item-color-box
								img(src="images/color/color1.png", alt="#").img-responsive
							.item-color-title Синий
						li.item-vphoto(data-slide="2")
							.item-color-box
								img(src="images/color/color2.png", alt="#").img-responsive
							.item-color-title Серый
						li.item-vphoto(data-slide="3")
							.item-color-box
								img(src="images/color/color3.png", alt="#").img-responsive
							.item-color-title Черный
						li.item-vphoto(data-slide="4")
							.item-color-box
								img(src="images/color/color4.png", alt="#").img-responsive
							.item-color-title Мраморный
						li.item-vphoto(data-slide="5")
							.item-color-box
								img(src="images/color/color5.png", alt="#").img-responsive
							.item-color-title Красный
						li.item-vphoto(data-slide="6")
							.item-color-box
								img(src="images/color/color6.png", alt="#").img-responsive
							.item-color-title Коричневый
				// /.select__container

				form(action="#", method="post")
					.joint__box
						p В настоящий момент на сайте ElectraStyle.ru можно оформлять только оптовые заказы.Как розничный покупатель Вы можете совершать покупки в магазинах наших партнеров

					ul.stories__list
						li
							.stor-logo
								a(href="#")
									img(src="images/stor-logo.jpg", alt="#").img-responsive

					.calc__action
						a(href="#").btn Перейти на сайт Stilvo
						a(href="#").btn.btn-white
							span Перейти в карточку товара
			// /.product__right
	.prClose
// /.product__container
