/* стили для карточки статьи (превью) */

.article-card {
  width: 100%;

  &__link {
    display: block;

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__img-box {
    margin-bottom: 6px;
    overflow: hidden;

    @include tablet {
      margin-bottom: 15px;
    }
  }

  &__img {
    width: 100%;
    transition: 0.3s;
  }

  & p.article-card__text {
    @include text(12px, 18px, 400);
    transition: 0.3s;

    @include tablet {
      font-size: 18px;
      line-height: 26px;
    }

    @include laptop {
      font-size: 20px;
      line-height: 32px;
    }

    &:hover {
      color: $beige;
    }
  }

  &__date {
    position: relative;
    padding-right: 8px;
    margin-right: 7px;

    @include tablet {
      padding-right: 12px;
      margin-right: 11px;
    }

    @include laptop {
      padding-right: 13px;
      margin-right: 12px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      width: 1px;
      height: 10px;
      background-color: $gray-main;
      transform: translate(0, -40%);

      @include tablet {
        height: 12px;
      }

      @include laptop {
        height: 17px;
      }
    }
  }

  &--blog {

    & p.article-card__text {
      @include text(15px, 23px, 400);
      margin-bottom: 0;

      @include tablet {
        font-size: 18px;
        line-height: 26px;
      }

      @include desktop-start {
        font-size: 20px;
        line-height: 28px;
      }

      @include laptop {
        font-size: 24px;
        line-height: 32px;
      }
    }

    & .article-card__img-box {
      margin-bottom: 13px;
      overflow: hidden;

      @include tablet {
        margin-bottom: 17px;
      }

      @include desktop-start {
        margin-bottom: 20px;
      }

      @include laptop {
        margin-bottom: 28px;
      }

      @include desktop-wide {
        margin-bottom: 25px;
      }
    }
  }
}