/* кнопка закрытия/удаления - крестик */

.btn-cross {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  transition: 0.3s;

  @include laptop {
    width: 38px;
    height: 38px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 15px;
    height: 1px;
    background-color: transparentize($gray-main, 0.5);

    @include tablet {
      width: 18px;
    }
  }

  &::before {
    transform: translate(-50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%) rotate(-45deg);
  }

  &:hover {
    transform: scale(1.2);
  }
}