/* страница КОНТАКТНАЯ ИНФОРМАЦИЯ, общие стили */

.contacts {
  padding: 15px 18px 0;

  @include tablet {
    padding: 0;
  }


  &__address {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;

    @include laptop {
      position: relative;
      max-width: initial;
      padding-top: 70px;
    }
  }

  &__tabs {
    margin-bottom: 43px;

    @include tablet {
      margin-bottom: 25px;
    }

    @include laptop {
      width: 360px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content {
    margin-bottom: 30px;

    @include laptop {
      display: flex;
    }

    @include desktop-wide {
      margin-bottom: 105px;
    }

    &.hidden {
      display: none;
    }
  }

  &__content-wrapper {

    @include laptop {
      width: 470px;
    }

    @include desktop-wide {
      width: 500px;
    }
  }

  &__info {
    @include laptop {
      margin-bottom: 29px;
    }
  }

  &__info-item {
    @include text(16px, 25px, 400);
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding-left: 45px;

    @include tablet {
      padding-left: 36px;
    }

    &::before {
      position: absolute;
      content: '';
    }

    &--address {

      @include tablet {
        padding-right: 175px;
      }

      @include laptop {
        padding-right: 75px;
      }

      &::before {
        top: 4px;
        left: 3px;
        width: 15px;
        height: 23px;
        background: url("../images/icons/contacts_marker.png") no-repeat center;

        @include tablet {
          left: 4px;
        }
      }
    }

    &--phone::before {
      top: 0;
      left: 2px;
      width: 19px;
      height: 19px;
      background: url("../images/icons/contacts_phone.png") no-repeat center;
    }

    &--fax::before {
      top: 3px;
      left: 4px;
      width: 16px;
      height: 18px;
      background: url("../images/icons/contacts_fax.png") no-repeat center;

      @include laptop {
        top: 3px;
      }
    }

    &--email::before {
      top: 8px;
      left: 3px;
      width: 17px;
      height: 11px;
      background: url("../images/icons/contacts_mail.png") no-repeat center;

      @include tablet {
        top: 7px;
      }
    }

    &--time::before {
      top: 2px;
      left: 5px;
      width: 15px;
      height: 22px;
      background: url("../images/icons/contacts_time.png") no-repeat center;

      @include laptop {
        top: 2px;
      }
    }
  }

  &__map {
    margin: 14px 0 26px;
    text-align: right;

    @include tablet {
      width: 100vw;
      margin-left: calc((580px - 100vw) / 2);
      margin-top: 0;
      margin-bottom: 29px;
    }

    @include tablet-middle {
      margin-left: calc((580px - 100vw) / 2);
    }

    @include laptop {
      width: 700px;
      margin-left: 0;
      margin-top: -116px;
    }

    @include desktop-wide {
      width: 1100px;
      margin-bottom: 0;
    }
  }

  &__link-dealers {
    @include text(14px, 25px, 400);
    position: relative;
    padding-left: 23px;
    color: $beige;
    transition: 0.3s;

    @include tablet {
      margin-right: 40px;
    }

    @include laptop {
      margin-right: 0;
      font-size: 16px;
    }

    &:hover {
      color: $gray-main;
    }

    &::before {
      position: absolute;
      top: 1px;
      left: 0;
      content: '';
      width: 15px;
      height: 15px;
      background: url("../images/icons/contacts_region.png") no-repeat center;
      background-size: cover;

      @include laptop {
        top: 0;
        left: -6px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__map-container {
    width: 100%;
    height: 380px;
    margin-top: 10px;
    background-color: #999999;

    @include laptop {
      height: 515px;
      margin-top: 20px;
    }

    @include desktop-wide {
      height: 590px;
    }
  }

  &__link {
    @include text(14px, 30px, 400);
    padding: 2px 20px 2px;

    @include tablet {
      width: 320px;
      margin: 0 auto;
    }

    @include laptop {
      margin: 40px 0 0;
    }
  }

  &__title-box {
    margin-bottom: 28px;
    text-align: center;

    @include tablet {
      margin-bottom: 47px;
    }

    @include desktop-wide {
      margin-bottom: 65px;
    }
  }

  &__title.main-title {
    @include text(24px, 48px, 400);
    display: inline-block;
    text-transform: uppercase;

    @include laptop {
      font-size: 30px;
      line-height: 48px;
    }

    @include desktop-wide {
      font-size: 36px;
      line-height: 48px;
    }
  }

  &__team-list {
    width: 246px;
    margin: 0 auto;

    @include mobile-wide {
      width: 492px;
    }

    @include tablet {
      width: 560px;
    }

    @include tablet-middle {
      width: 858px;
    }

    @include laptop {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }

    & .slick-arrow {
      width: 33px;
      height: 17px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include tablet {
        width: 51px;
        height: 25px;
      }

      &::before,
      &::after {
        content: none;
      }
    }

    & .slick-prev {
      top: 26.5%;
      left: -14px;
      background-image: url("../images/svg/arrow-dark-big.svg");
      transform: rotate(-90deg) translate(7px, -20px);

      @include tablet {
        left: -26px;
      }
    }

    & .slick-next {
      top: 25.5%;
      right: -15px;
      background-image: url("../images/svg/arrow-dark-big.svg");
      transform: rotate(90deg) translate(0, -20px);

      @include tablet {
        right: -26px;
      }
    }
  }

  &__team-item {
    width: 206px;
    margin: 0 20px;

    @include tablet {
      margin: 0 37px;
    }

    @include tablet-middle {
      margin: 0 40px;
    }

    @include laptop {
      width: 242px;
      margin: 0 67px 0 0;

      &:nth-child(4n+4),
      &:last-child {
        margin-right: 0;
      }
    }

    @include desktop-wide {
      margin-right: 130px;
    }

    @include desktop-wide {
      width: 300px;
    }
  }

  &__request {
    margin: 68px 0 40px;
    padding-top: 116px;
    text-align: center;
    background-image: url("../images/icons/contacts_question.png");
    background-repeat: no-repeat;
    background-position: center top;

    @include tablet {
      margin-top: 79px;
      margin-bottom: 55px;
    }

    @include tablet-middle {
      margin-top: 60px;
    }

    @include laptop {
      margin-bottom: 55px;
    }

    @include desktop-wide {
      margin-bottom: 84px;
    }
  }

  &__request-text {
    @include text(24px, 24px, 400);
    margin-bottom: 29px;
    padding: 0 40px;
    text-transform: uppercase;
  }

  &__request-link {
    width: 180px;
    margin: 0 auto;
    padding: 7px 10px 9px;
    line-height: 18px;
  }

  & .container {
    margin-bottom: 35px;

    @include tablet {
      margin-bottom: 100px;
      margin-top: -32px;
    }

    @include desktop-start {
      margin-bottom: 50px;
    }

    @include laptop {
      margin-top: -12px;
    }
  }

  & .markerStyle .gm-style-iw {
    top: 15px;
    height: 150px;
    text-align: left;
  }

  & .markerStyle .gm-style-iw-d {
    max-width: initial !important;
  }

  & .markerStyle {
    display: block !important;

    @include tablet {
      display: block !important;
    }

    @include tablet-middle {
      display: block !important;
    }
  }
}

.contacts-title {
  @include text(24px, 48px, 400);

  @include laptop {
    margin-top: -12px;
    font-size: 30px;
    line-height: 48px;
  }

  @include desktop-wide {
    margin-top: 15px;
    font-size: 36px;
    line-height: 48px;
  }
}