/* Страница ДИЛЕРЫ */

.dealers {
  margin-top: -23px;
  padding: 0 18px;

  @include tablet {
    margin-top: -20px;
    padding: 0;
  }

  @media (min-width: 1025px) {
    margin-top: -52px;
  }

  @include laptop {
    margin-top: -28px;
  }

  @include desktop-wide {
    margin-top: -9px;
  }

  &__container {
    margin-bottom: 42px;

    @include laptop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
    }
  }

  &__selection {
    max-width: 580px;
    margin: 0 auto;

    @include laptop {
      width: 435px;
      margin: 0;
    }

    & .edd-root {
      height: 36px;
      font-size: 14px;
    }

    & .edd-value {
      padding-left: 14px;
      height: 36px;

      @include tablet {
        text-align: center;
      }

      @include laptop {
        text-align: left;
      }
    }

    & .edd-option {
      padding-left: 14px;
    }

    & .edd-arrow {
      top: 15px;
      right: 11px;
    }

    & .edd-root-open-below .edd-body {
      top: 35px;
    }
  }

  &__form {
    margin-bottom: 22px;

    @include tablet {
      margin-bottom: 31px;
    }

    @include laptop {
      margin-bottom: 39px;
    }
  }

  &__scroll {
    position: relative;
    margin-bottom: 27px;

    @include tablet {
      margin-bottom: 37px;
    }

    @media (min-width: 1025px) {
      margin-bottom: 45px;
    }

    @include laptop {
      margin-bottom: 0;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: 10;
      width: calc( 100% - 8px);
      height: 15px;
    }

    &::before {
      top: 1px;
      left: 1px;
      background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }

    &::after {
      bottom: 1px;
      left: 1px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);

      @include tablet {
        height: 18px;
      }
    }
  }

  &__data {
    height: 348px;
    padding: 15px 40px 10px 28px;

    @include tablet {
      height: 322px;
      padding-top: 17px;
      padding-left: 61px;
    }

    @media (min-width: 1025px) {
      height: 398px;
    }

    @include laptop {
      height: 440px;
      padding-left: 42px;
      padding-top: 23px;
    }

    @include desktop-wide {
      height: 515px;
      padding-top: 26px;
    }
  }

  &__country-name {
    @include text(18px, 27px, 400);
    margin-bottom: 27px;
    text-transform: uppercase;
    cursor: pointer;

    & span {
      position: relative;

      &::before {
        position: absolute;
        top: 8px;
        right: -25px;
        content: '';
        width: 15px;
        height: 7px;
        background-image: url("../images/icons/arrow-select.png");
        background-size: 100%;
        transform-origin: center;
        transform: rotate(180deg);
        transition: 0.3s;
      }
    }

    &.closed span::before {
      transform: rotate(0);
    }
  }

  &__content {

    &.hidden {
      display: none;
    }
  }

  &__list {
    padding-top: 3px;
  }

  &__item {
    margin-bottom: 28px;
  }

  &__map {
    width: 100vw;
    height: 380px;
    margin-top: 10px;
    margin-left: -18px;
    background-color: #999999;

    @include tablet {
      margin-left: calc((678px - 100vw) / 2);
      margin-top: 0;
    }

    @include tablet-middle {
      margin-left: calc((898px - 100vw) / 2);
      height: 515px;
    }

    @media (min-width: 1025px) {
      margin-left: calc((970px - 100vw) / 2);
    }

    @include laptop {
      width: 710px;
    }

    @include desktop-wide {
      width: 1100px;
      height: 590px;
    }
  }

  & .markerStyle .gm-style-iw {
    top: 10px;
    height: 145px;
    padding-top: 5px;
    text-align: left;
  }

  & .markerStyle .gm-style-iw-d {
    max-width: initial !important;
  }

  & .markerStyle {
    display: block !important;

    @include tablet {
      display: block !important;
    }

    @include tablet-middle {
      display: block !important;
    }
  }

  & .baloon-innr h3 {
    text-transform: uppercase;
  }
}