/* блок "как добраться" страницы КОНТАКТНАЯ ИНФОРМАЦИЯ */

.how-to {

  &__title {
    @include text(18px, 25px, 400);
    margin-bottom: 19px;
    text-transform: uppercase;
  }

  &__item {
    @include laptop {
      padding-right: 40px;
    }
  }

  &__link-slide {
    @include text(18px, 25px, 400);
    display: inline-block;
    position: relative;
    padding: 0 30px 0 35px;
    color: $beige;

    &::before {
      position: absolute;
      content: '';
      top: 2px;
      left: 0;
      width: 23px;
      height: 19px;
      background: url("../images/icons/contacts_metro.png") no-repeat center;
      background-size: 23px 19px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 11px;
      right: 5px;
      width: 13px;
      height: 7px;
      background-image: url("../images/svg/arrow-select.svg");
      background-size: cover;
      transform-origin: center;
      transform: rotate(180deg);
      transition: 0.3s;
    }

    &.active::after {
      transform: rotate(0);
    }
  }

  &__text {
    @include text(14px, 20px, 400);
    position: relative;
    padding-left: 35px;

    @include tablet {
      max-width: 470px;
      margin-top: 9px;
    }

    &::before {
      position: absolute;
      content: '';
    }

    &--large {
      @include text(16px, 20px, 400);
      margin-top: 15px;
    }

    &--icon-walk {
      margin-bottom: 15px;

      &::before {
        top: -2px;
        left: 2px;
        width: 13px;
        height: 25px;
        background: url("../images/icons/contacts_walk.png") no-repeat center;
      }
    }

    &--icon-bus {

      &::before {
        top: -2px;
        left: 2px;
        width: 21px;
        height: 21px;
        background: url("../images/icons/contacts_bus.png") no-repeat center;

        @include tablet {
          top: 2px;
          left: -3px;
        }
      }
    }

  }

  &__video-link {
    @include text(16px, 25px, 400);
    position: relative;
    display: inline-block;
    margin: 0 0 6px 35px;
    padding-left: 41px;
    color: $beige;

    &::before {
      position: absolute;
      content: '';
      top: 2px;
      left: 0;
      width: 24px;
      height: 18px;
      background: url("../images/icons/contacts_video.png") no-repeat center;
    }
  }

  & .to-slide {
    display: none;
  }
}