/* текстовое поле ввода или селект */

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  @include tablet {
    padding-top: 0;
  }

  &--social {
    padding-left: 78px;
    padding-top: 0;

    @include tablet {
      padding-left: 0;
    }

    & label {
      position: absolute;
      top: 0;
      left: 7px;
      width: 42px;
      height: 40px;
      background-repeat: no-repeat;
      background-size: 43px;
      background-position: center;
      opacity: 1;

      @include tablet {
        top: -1px;
        left: -162px;
      }

      @include laptop {
        left: -172px ;
      }

      &.input-field__label--ig {
        background-image: url("../images/svg/inst2.svg");
      }

      &.input-field__label--vk {
        background-image: url("../images/svg/vk2.svg");
      }

      &.input-field__label--fb {
        background-image: url("../images/svg/fb2.svg");
      }
    }
  }

  &__input {
    @include text(18px, 27px, 400);
    font-family: 'ITCNewVeljovicPro-Regular', sans-serif;
    width: 100%;
    height: 40px;
    padding: 0 20px 3px;
    color: $gray-main;
    -webkit-appearance: none;
    border: 1px solid $gray-light;
    box-shadow: none;
    border-radius: 0;

    &:hover,
    &:focus {
      outline: none;
      border-color: $beige;
    }

    &--password {
      font-size: 30px;
      color: $beige;
    }
  }

  &__label {
    @include text(14px, 27px, 400);
    position: absolute;
    top: -6px;
    opacity: 0.5;

    @include tablet {
      top: 3px;
      left: -170px;
    }

    @include laptop {
      top: 6px;
    }

    @include desktop-wide {
      top: 7px;
    }

    &--hidden {
      @include tablet {
        display: none;
      }

      @include laptop {
        display: block;
      }
    }
  }
}

::placeholder {
  @include text(14px, 40px, 400);
  color: $gray-light;
}

::-moz-placeholder{
  @include text(14px, 40px, 400);
  color: $gray-light;
}

::-webkit-input-placeholder {
  @include text(14px, 40px, 400);
  color: $gray-light;
}

:-ms-input-placeholder {
  @include text(14px, 40px, 400);
  color: $gray-light;
}

.select2-search {
  display: none;
}

.select2-container .select2-selection--single {
  height: 40px;
  border-radius: 0;
  border-color: #d9d9d9;

  &:hover, &:focus {
    border-color: $beige;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0 20px;
  font-size: 18px;
  line-height: 36px;
  color: $gray-main;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparentize($beige, 0.9);
  color: $gray-main;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparentize($beige, 0.8);
}

.select2-results__option {
  padding: 0 20px;
  font-size: 18px;
  line-height: 40px;
  border-top: 1px solid transparentize($beige, 0.8);
}

.select2-dropdown {
  border-radius: 0;
  border-color: $beige;
}

.select2 *:focus {
  outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 17px;
  right: 17px;
  width: 14px;
  height: 8px;
  background-image: url('../images/svg/arrow-select.svg');
  background-repeat: no-repeat;
  transform-origin: center;
  transform: rotate(-180deg);
  transition-duration: 0.3s;
  background-size: cover;

  & b {
    display: none;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(0);
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}