/* блок с радиокнопкой */

.input-radio {
  padding-top: 13px;
  padding-left: 23px;

  &__label {
    @include text(18px, 27px, 400);
    position: relative;

    &::before {
      position: absolute;
      top: 5px;
      left: -22px;
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid $gray-light;
      background-color: $white;
    }
  }

  & input:checked ~ label::before {
    background-color: $beige;
    box-shadow: inset 0 0 0 1px $white;
  }
}