/* стили для внутренней страницы LOOKBOOK */

.lookbook-inner {

  &__content {
    margin-top: 46px;

    @include tablet {
      margin-top: 0;
    }

    @include desktop-wide {
      margin-top: -10px;
    }
  }

  &__block {

    @include tablet-middle {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 87px;
    }

    @include laptop {
      margin-bottom: 121px;
    }

    @include desktop-wide {
      margin-bottom: 132px;
    }

    &::before {

      @include tablet-middle {
        @include text(14px, 14px, 400);
        position: absolute;
        top: -4px;
        left: 0;
        content: '#electrastyle';
        text-transform: uppercase;
        color: transparentize($gray-main, 0.5);
      }

      @include laptop {
        top: -2px;
        font-size: 18px;
      }

      @include desktop-wide {
        top: -4px;
        font-size: 24px;
      }
    }

    &--head {

      @include tablet-middle {
        margin-bottom: 61px;
      }

      @include laptop {
        margin-bottom: 70px;
      }

      @include desktop-wide {
        margin-bottom: 130px;
      }

      &::before {
        @include tablet-middle {
          content: none;
        }
      }

      & .lookbook-inner__slider {

        @include tablet-middle {
          width: 100%;
          align-items: center;
        }
      }

      & .lookbook-inner__img-box {

        @media (min-width: 920px) {
          width: 724px;
          margin-right: 30px;
        }

        @include desktop-start {
          width: 938px;
        }

        @include laptop {
          margin-right: 40px;
        }

        @include desktop-wide {
          width: 1205px;
        }
      }

      & .lookbook-inner__img-box--small {

        @media (min-width: 920px) {
          width: 164px;
          margin-right: 0;
        }

        @include desktop-start {
          width: 214px;
        }

        @include desktop-wide {
          width: 275px;
          margin-top: 23px;
        }
      }
    }

    &--one-block {

      & .lookbook-inner__slider {

        @include tablet-middle {
          width: 525px;
          margin: 0 auto;
        }

        @include desktop-start {
          width: 545px;
        }

        @include laptop {
          width: 705px;
        }

        @include desktop-wide {
          width: 1000px;
        }
      }

      & .lookbook-inner__img-box {

        @include desktop-wide {
          width: 610px;
        }
      }

      & .lookbook-inner__img-box--small {

        @include tablet-middle {
          align-self: center;
          width: 150px;
        }

        @include laptop {
          width: 195px;
          margin-top: -25px;
        }

        @include desktop-wide {
          width: 275px;
          margin-top: -50px;
        }
      }
    }

    &:nth-child(4n+3) {

      &::before {

        @include tablet-middle {
          left: initial;
          right: 0;
        }
      }

      & .lookbook-inner__slider--left {

        @include tablet-middle {
          padding-top: 0;
          padding-bottom: 60px;
        }

        @include laptop {
          padding-top: 0;
          padding-bottom: 80px;
        }

        @include desktop-wide {
          padding-top: 0;
          padding-bottom: 105px;
        }

        & .lookbook-inner__img-box--small {

          @include tablet-middle {
            align-self: flex-start;
            margin-bottom: 0;
          }
        }
      }

      & .lookbook-inner__slider--right {

        @include tablet-middle {
          padding-top: 60px;
          padding-bottom: 0;
        }

        @include laptop {
          padding-top: 80px;
          padding-bottom: 0;
        }

        @include desktop-wide {
          padding-top: 105px;
          padding-bottom: 0;
        }

        & .lookbook-inner__img-box--small {

          @include tablet-middle {
            align-self: flex-end;
            margin-bottom: -35px;
          }

          @include desktop-wide {
            margin-bottom: -44px;
          }
        }
      }
    }

    &:nth-child(4n+2) {

      &::before {

        @include tablet-middle {
          left: initial;
          right: 122px;
        }

        @media (min-width: 1025px) {
          right: 150px;
        }

        @include laptop {
          right: 163px;
        }
      }
    }

    &:nth-child(4n+4) {

      &::before {

        @include tablet-middle {
          left: 122px;
          right: initial;
        }

        @media (min-width: 1025px) {
          left: 150px;
        }

        @include laptop {
          left: 139px;
        }
      }

      & .lookbook-inner__img-box--small {

        @include tablet-middle {
          order: -1;
        }
      }
    }
  }

  &__slider {

    @include tablet-middle {
      display: flex;
      justify-content: space-between;
      width: 525px;
      margin: 0;
    }

    @media (min-width: 1025px) {
      width: 540px;
    }

    @include laptop {
      width: 687px;
    }

    @include desktop-wide {
      width: 910px;
    }

    &--left {

      @include tablet-middle {
        padding-top: 60px;
      }

      @include laptop {
        padding-top: 80px;
      }

      @include desktop-wide {
        padding-top: 105px;
      }

      & .lookbook-inner__img-box--small {

        @include tablet-middle {
          align-self: flex-end;
          margin-bottom: -35px;
        }

        @include desktop-wide {
          margin-bottom: -44px;
        }
      }
    }

    &--right {

      @include tablet-middle {
        margin-left: -132px;
        padding-bottom: 60px;
      }

      @include laptop {
        margin-left: -170px;
        padding-bottom: 80px;
      }

      @include desktop-wide {
        margin-left: -220px;
        padding-bottom: 105px;
      }

      & .lookbook-inner__img-box--small {

        @include tablet-middle {
          order: -1;
        }
      }
    }
  }

  &__img-box {
    width: 100%;

    @include tablet {
      width: 100vw;
    }

    @media (min-width: 920px) {
      width: 330px;
      margin-bottom: 0;
    }

    @include laptop {
      width: 430px;
    }

    @include desktop-wide {
      width: 575px;
    }

    & img {
      width: 100%;
    }
  }

  &__img-box--small {

    @media (min-width: 920px) {
      width: 159px;
      margin-right: 0;
    }

    @include laptop {
      width: 205px;
    }

    @include desktop-wide {
      width: 275px;
    }
  }

  &__text {
    @include text(13px, 18px, 400);
    text-align: center;
    margin-bottom: 0;

    @include tablet {
      font-size: 14px;
    }

    @include tablet-middle {
      margin-top: 18px;
    }

    @include laptop {
      font-size: 18px;
    }

    @include desktop-wide {
      margin-top: 26px;
      font-size: 24px;
    }

    &--tab-up {
      display: none;

      @include tablet-middle {
        display: block;
      }
    }

    &--mob {
      margin-top: 10px;
      margin-bottom: 26px;

      @include tablet {
        margin-top: 13px;
        margin-bottom: 44px;
      }

      @include tablet-middle {
        display: none;
      }
    }
  }

  & .container {
    padding: 0;

    @include tablet {
      width: 100%;
    }

    @include tablet-middle {
      width: 920px;
      padding: 0 11px;
    }

    @media (min-width: 1025px) {
      width: 970px;
      padding: 0;
    }

    @include laptop {
      width: 1170px;
    }

    @include desktop-wide {
      width: 1600px;
    }
  }
}