/* модальное окно при смене пароля */

.modal-password {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: transparentize($white, 0.25);

  &--closed {
    display: none;
  }

  &__content {
    position: fixed;
    top: 14px;
    right: 11px;
    bottom: 11px;
    left: 11px;
    background-color: $white;
    border: 1px solid transparentize($gray-main, 0.5);

    @include mobile-wide {
      top: 50%;
      right: initial;
      bottom: initial;
      left: 50%;
      width: 555px;
      height: 300px;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    @include text(24px, 24px, 400);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    padding-top: 100px;
    text-align: center;
    transform: translate(-50%, -58%);
    background-image: url("../images/icons/icon-password.png");
    background-repeat: no-repeat;
    background-position: center top;

    @include mobile-wide {
      width: 100%;
      top: 78px;
      left: 0;
      transform: translate(0, 0);
    }

  }
  
  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }
}