/* секция дополнительных статей страницы СТАТЬЯ */

.more-articles {

  &__title-box {
    text-align: center;
  }

  & .more-articles__title {
    @include text(18px, 26px, 400);
    position: relative;
    display: inline-block;

    @include tablet {
      margin-bottom: 55px;
      font-size: 30px;
      line-height: 48px;

      &::before,
      &::after {

        position: absolute;
        top: 50%;
        content: '';
        width: 34px;
        height: 1px;
        background-color: $beige;
      }

      &::before {
        left: -60px;
      }

      &::after {
        right: -60px;
      }
    }

    @include laptop {
      margin-bottom: 32px;
    }

    @include desktop-wide {
      margin-bottom: 36px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .more-articles__item {
      width: calc((100% - 14px) / 2);
      padding: 0;
      margin-bottom: 15px;

      @include tablet {
        width: calc((100% - 37px) / 2);
        margin-bottom: 31px;
      }

      @media (min-width: 920px) {
        width: calc((100% - 37px) / 3);
      }

      @include desktop-start {
        width: calc((100% - 128px) / 3);
        margin-bottom: 46px;
      }

      @include laptop {
        width: calc((100% - 120px) / 3);
        margin-bottom: 43px;
      }

      @include desktop-wide {
        width: calc((100% - 186px) / 3);
        margin-bottom: 55px;
      }

      &::before {
        content: none;
      }
    }
  }
}