/* страница МОИ МАГАЗИНЫ */

.my-shops {
  padding-top: 12px;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop-start {
    width: 100%;
    margin: 0;
  }

  &__header {

    @include desktop-start {
      margin-top: -9px;
    }

    @include laptop {
      margin-top: -6px;
    }
  }

  &__text {
    @include text(18px, 27px, 400);
    margin: 0;
    padding: 0 15px;
    text-align: center;

    @include tablet {
      padding: 0;
      text-align: left;
    }

    &--last {
      margin-bottom: 44px;

      @include tablet {
        margin-bottom: 40px;
      }
    }
  }

  &__link-add {
    @include text(18px, 27px, 400);
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 30px;
    padding: 4px 20px 7px;
    text-align: center;
    color: $beige;
    border: 1px solid $beige;
    transition: 0.3s;

    @include tablet {
      display: inline-block;
      width: auto;
      margin-bottom: 40px;
      padding: 0 0 0 20px;
      border: none;
    }

    @include laptop {
      margin-bottom: 45px;
    }

    &:hover {

      @include tablet {
        background-color: transparent;
        color: $gray-main;
      }
    }

    & span {
      position:  relative;
      padding-left: 20px;

      &::before,
      &::after {
        position: absolute;
        top: 12px;
        content: '';
        width: 14px;
        height: 1px;
        background-color: currentColor;
        transform-origin: center;
        transition: transform 0.3s ;
      }

      &::before {
        left: -4px;
      }

      &::after {
        left: -4px;
        transform: rotate(90deg);
      }
    }

    &--active {
      border-color: $white;
      background-color: $white;
      color: $gray-main;

      & span {
        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(135deg);
        }
      }

      &:hover {

        @include tablet {
          color: $beige;
        }
      }
    }
  }

  &__form {
    margin-bottom: 37px;

    @include tablet {
      margin-bottom: 75px;
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @include laptop {
      max-width: 920px;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__all {
    width: 100%;
    padding: 9px 20px 13px;
    margin-bottom: 45px;

    @include tablet {
      width: 225px;
      margin: 45px auto 45px;
    }

    @include desktop-start {
      margin-left: 85px;
      margin-right: 0;
    }

    @media (min-width: 1025px) {
      margin-left: 120px;
    }

    @include desktop-wide {
      margin-left: 335px;
      margin-right: auto;
    }

    &:hover {
      background-color: $beige;
    }
  }
}