/* страница ОТЗЫВЫ и ВОПРОСЫ */

.questions {
  @include desktop-start {
    padding-top: 13px;
  }

  @include tablet {
    max-width: 678px;
    margin: 0 auto;
  }

  @include desktop-start {
    max-width: 740px;
    margin: 0;
  }

  &__tabs {
    margin-bottom: 24px;

    @include tablet {
      width: 500px;
      margin: 74px auto 39px;
    }

    @include desktop-start {
      max-width: initial;
      margin: 0 0 39px;
    }
  }

  &__tip {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    @include desktop-start {
      max-width: initial;
      text-align: left;
    }

    @include laptop {
      margin-top: 50px;
    }

    &.hidden {
      display: none;
    }
  }

  &__screen {
    display: block;

    &.hidden {
      display: none;
    }
  }

  &__scroll {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: 10;
      width: calc( 100% - 8px);
      height: 15px;
    }

    &::before {
      top: 1px;
      left: 1px;
      background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }

    &::after {
      bottom: 1px;
      left: 1px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.85) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);

      @include tablet {
        height: 18px;
      }
    }
  }

  &__list-item {
    position: relative;
    max-height: 367px;
    margin-bottom: 16px;
    padding: 14px 15px 20px;
    border: 1px solid transparentize($gray-main, 0.7);

    @include tablet {
      display: flex;
      max-height: 314px;
      padding: 28px 55px 20px 48px;
    }

    @include laptop {
      max-height: 295px;
      margin-bottom: 24px;
      padding-top: 31px;
      padding-bottom: 17px;
    }

    &--image {
      @include tablet {
        padding-top: 33px;
      }

      @include laptop {
        padding-top: 36px;
      }

      @include desktop-wide {
        padding-top: 33px;
      }
    }

    &--no-img {

      & .questions__code {
        margin-top: 0;
        margin-bottom: 0;

        @include tablet {
          margin-top: -4px;
          margin-bottom: 8px;
        }

        @include desktop-wide {
          margin-top: -8px;
          margin-bottom: 12px;
        }
      }
    }
  }

  &__img-box {
    float: left;
    width: 55px;
    margin-right: 29px;

    @include tablet {
      flex-shrink: 0;
      float: none;
      width: 90px;
      margin-right: 40px;
    }
  }

  &__code {
    @include text(14px, 27px, 400);
    margin: 23px 0 43px;
    color: $beige;

    @include tablet {
      margin-top: -8px;
      margin-bottom: 8px;
    }

    @include desktop-wide {
      margin-bottom: 12px;
    }

    & span {
      margin-left: 7px;
    }
  }

  &__item {

    &--answer {
      padding-left: 41px;
    }
  }

  &__title {
    @include text(18px, 28px, 400);
    margin: 0 0 9px;

    @include desktop-start {
      margin-top: -4px;
    }

    @include desktop-wide {
      margin-top: -8px;
    }

    & span {
      margin-left: 5px;
    }
  }

  &__text {
    @include text(14px, 18px, 400);
    margin-bottom: 14px;
  }
}